* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  /*font-family: "Montserrat", sans-serif;*/
  font-size: 20px;
  color: #323030;
  text-align: center;
  line-height: 1.5;
  margin: 0;
}

header,
section {
  min-height: 200px;
  padding: 6% 6%;
}

header h1 {
  font-size: 50px;
}

.pinkBg {
  background-color: #e6ddde;
  background-color: #f7cfc3;
}

main img {
  width: 60%;
}

.work img,
.about img {
  width: 100%;
}

.about img {
  border: solid white 16px;
}

.work img {
  padding: 16px;
  border: solid lightgrey 1px;
}

p {
  font-family: "Lato", sans-serif;
}

.subheader {
  font-weight: 1000;
}

.work span {
  font-size: 40px;
}

footer {
  background-color: #aaa;
  background-color: #323030;
  color: white;
  min-height: 200px;
}

footer span {
  font-size: 40px;
  margin: 16px;
}

footer a,
a:active,
a:visited {
  color: white;
}

footer a:hover {
  color: rgba(255, 255, 255, 0.75);
}

a.btn {
  color: #323030;
  padding: 10px 20px;
  border: 2px solid #323030;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  text-decoration: none;
}

/*tablet styles*/
@media screen and (min-width: 768px) {
  .container {
    width: 700px;
    margin: 0 auto;
  }

  main img {
    width: 40%;
  }
}

/*desktop styles*/
@media screen and (min-width: 960px) {
  .container {
    width: 980px;
    margin: 0 auto;
  }
}

/*
.flexContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
*/
